<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title> User List </title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	</head>
	<body>
		<div class="board-page">
			<div class="board">
				<p align="right"><%=user_name %>님 환영합니다.<button>Log-out</button></p>
				<h1> 회원관리 </h1>

				<!-- 검색 시작 -->
				<div class="search" align="right">
				
				</div>
				<!-- 검색 종료 -->

				<table class="title">
					<tr>
						<th width="20%">UID</th>
						<th width="20%">ID</th>
						<th width="20%">회원이름</th>
						<th width="20%">수정</th>
						<th width="20%">삭제</th>
					</tr>
				</table>
				<table class="content">
					<% if(status == 'OK') { %>
						<% if(data.length == 0) { %>
							<tr>
								<td colspan="4">데이터가 없다.</td>
							</tr>
						<% } else { %>
							<% data.forEach(function(item, index){ %>
								<tr>
										<td width="20%"><%=item.uid %></td>
										<td width="20%"><%=item.login_id %></td>
										<td width="20%"><%=item.user_name %></td>
										<td width="20%"><a href="/users/update?uid=<%=item.uid%>">수정</a></td>
										<td width="20%"><a href="/users/delete?uid=<%=item.uid%>">삭제</a></td>
									</tr>
							<% }); %>
						<% } %>
					<% } else {%>
						<tr>
							<td colspan="4">에러 잠시후 다시 시도하세요.</td>
						</tr>
					<% } %>
				</table>
				<div align="right"><button id="btn_board_list"> 게시물 목록</button></div>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script src="/javascripts/users.js"></script>
	</body>
</html>